# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Test coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Logs
*.log

# Local env variables or settings
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Large data
/Users/weronikadorociak/Documents/LSE/MY498 Capstone Project/ai_aging/original_data/eurostat.csv